# --- Binarios y Ejecutables ---
*.out
*.exe
/Apuntes/bin

# --- /Practica-1 ---
/Practica-1/bin
p1-dataProgram

# --- /Parcial-1 ---
/Parcial-1/bin
/Parcial-1/data/backup

# --- /Practica-1 ---
/Practica-3/bin

# --- Objetos y Librerías ---
*.o
*.obj
*.a
*.so

# --- Datos y Datasets ---
*.csv
*.tsv
*.bin
*.dat
*.idx
*.log

# --- Documentación y Sistema ---
.DS_Store
.vscode/
.idea/